{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlockBot</title>
    <link rel="icon" id="site-favicon" type="image/png" href="{% static 'frontend/icons/icon1.png' %}" />
    <link rel="stylesheet" href="{% static 'frontend/assets/index.css' %}" />
    <script>
      const icons = [
        "{% static 'frontend/icons/icon1.png' %}",
        "{% static 'frontend/icons/icon2.png' %}",
        "{% static 'frontend/icons/icon3.png' %}"
      ];
      const randomIcon = icons[Math.floor(Math.random() * icons.length)];
      document.getElementById("site-favicon").href = randomIcon;
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="{% static 'frontend/app.js' %}"></script>
  </body>
</html>